<link href="https://fonts.googleapis.com/css?family=Orbitron" rel='stylesheet' type="text/css">
<!--Timer-->
<h1>
  {{segundos | number: '2.0'}}
</h1>
<!--Image-->
<div class="container" *ngIf="imageEnlarge == false">
    <div class="row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10">
            <img src="../../../assets/PlaceholderImg.png" (click)="imageSizeToggle()">
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>
</div>
<div  *ngIf="imageEnlarge == true">
    <img src="../../../assets/PlaceholderImg.png" (click)="imageSizeToggle()">
</div>