img {
    width: 100%;
}
h1 {
    font-family: 'Orbitron';
    text-align: center;
}

.portapapeles {
    background-color: #666666;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.portapapeles h2 {
    
    color: white;
    font-family: 'Orbitron';
    text-align: center;
    
}

.spacer {
    padding-bottom: 10px;
}
.jump-arrow {
    float: right;
    font-size: 30px;
    background-color: transparent;
    border: none;
}

.clue-button {
    width: 50px;
    height: 50px;
}

.clue-text {
    font-family: 'Orbitron';
    font-size: 20px;
}

.keyboard{
    height: 50px;
    width: 50px;
    text-align: center;
    font-family: 'Orbitron';
    border: 5px solid #666666;
    border-radius: 3px;
    font-size: 30px;
}

.solution {
    background-color: transparent;
    color: #666666;
}

.keyboard-letters {
    
    background-color: #666666;
    color: white;
}
table {
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    min-height: 50px;
    left: 50%;
}

td { 
    padding: 3px;
}