<link href="https://fonts.googleapis.com/css?family=Orbitron" rel='stylesheet' type="text/css">
<!--Timer-->
<h1>
  {{segundos | number: '2.0'}}
</h1>
<!--Botón siguiente-->
<div class="row spacer">
    <div class="col-lg-4 col-md-3 col-xs-2"></div>
    <div class="col-lg-4 col-md-6 col-xs-8">
        <button class="jump-arrow" (click)="jumpCard()">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>
    <div class="col-lg-4 col-md-3 col-xs-2"></div>
</div>
<!--Image-->
<div [ngSwitch]="blurLevel" class="spacer">
    <div *ngSwitchCase="0" >
        <div style="filter: blur(40px);" class="container" *ngIf="imageEnlarge == false">
            <div class="row">
                <div class="col-lg-4 col-md-3 col-xs-2"></div>
                <div class="col-lg-4 col-md-6 col-xs-8">
                    <img src={{gameImage}} (click)="imageSizeToggle()">
                </div>
                <div class="col-lg-4 col-md-3 col-xs-2"></div>
            </div>
        </div>
        <div  *ngIf="imageEnlarge == true">
            <img style="filter: blur(40px);" src={{gameImage}} (click)="imageSizeToggle()">
        </div>
    </div>
    <div *ngSwitchCase="1" >
        <div style="filter: blur(30px);" class="container" *ngIf="imageEnlarge == false">
            <div class="row">
                <div class="col-md-4 col-md-3 col-xs-2"></div>
                <div class="col-md-4 col-md-6 col-xs-8">
                    <img src={{gameImage}} (click)="imageSizeToggle()">
                </div>
                <div class="col-md-4 col-md-3 col-xs-2"></div>
            </div>
        </div>
        <div  *ngIf="imageEnlarge == true">
            <img style="filter: blur(30px);" src={{gameImage}} (click)="imageSizeToggle()">
        </div>
    </div>
    <div *ngSwitchCase="2" >
        <div style="filter: blur(20px);" class="container" *ngIf="imageEnlarge == false">
            <div class="row">
                <div class="col-md-4 col-md-3 col-xs-2"></div>
                <div class="col-md-4 col-md-6 col-xs-8">
                    <img src={{gameImage}} (click)="imageSizeToggle()">
                </div>
                <div class="col-md-4 col-md-3 col-xs-2"></div>
            </div>
        </div>
        <div  *ngIf="imageEnlarge == true">
            <img style="filter: blur(20px);" src={{gameImage}} (click)="imageSizeToggle()">
        </div>
    </div>
    <div *ngSwitchCase="3" >
        <div style="filter: blur(10px);" class="container" *ngIf="imageEnlarge == false">
            <div class="row">
                <div class="col-md-4 col-md-3 col-xs-2"></div>
                <div class="col-md-4 col-md-6 col-xs-8">
                    <img src={{gameImage}} (click)="imageSizeToggle()">
                </div>
                <div class="col-md-4 col-md-3 col-xs-2"></div>
            </div>
        </div>
        <div  *ngIf="imageEnlarge == true">
            <img style="filter: blur(10px);" src={{gameImage}} (click)="imageSizeToggle()">
        </div>
    </div>
    <div *ngSwitchCase="4" >
        <div class="container" *ngIf="imageEnlarge == false">
            <div class="row">
                <div class="col-md-4 col-md-3 col-xs-2"></div>
                <div class="col-md-4 col-md-6 col-xs-8">
                    <img src={{gameImage}} (click)="imageSizeToggle()">
                </div>
                <div class="col-md-4 col-md-3 col-xs-2"></div>
            </div>
        </div>
        <div  *ngIf="imageEnlarge == true">
            <img src={{gameImage}} (click)="imageSizeToggle()">
        </div>
    </div>
</div>
<!--Pista-->
<div class="row">
    <div class="col-lg-4 col-md-3 col-xs-2"></div>
    <div class="col-lg-4 col-md-6 col-xs-8">
        <div class="row">
            <div class="col-xs-9">
                <div *ngIf="displayClue == true">
                        <p class="clue-text">{{gameClue}}</p>
                </div>
            </div>
            <div class="col-xs-3">
                <img class="clue-button" src="../../../assets/clue.png" alt="" (click)="showClue()">
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-3 col-xs-2"></div>
</div>

<!--Teclado-->
<div *ngFor ="let letter of arraySolution; let i = index" class="row">
    <div class="col-sm-2">
        <!--<button class="btn"> {{letter}} </button>-->
    </div>
</div>

<div>
    <table>
        <td *ngFor="let letter of arraySolution; let i = index">
            <tr><button type="button" class="keyboard solution" (click)="exchangeLetter('solution', i)" >{{letter}}</button></tr>
        </td>
    </table>
    <table>
        <td *ngFor="let letter of arrayKeyboard; let j = index">
            <tr><button type="button" class="keyboard keyboard-letters" (click)="exchangeLetter('keyboard', j)" >{{letter}}</button></tr>
        </td>
    </table>
</div>