<div class="row">
  <div class="col-md-2 col-xs-1"></div>
  <div class="col-md-8 col-xs-10">
    <h1>Instrucciones de juego.</h1>
    <h3>Bienvenido al Juego BLUR.</h3>
    <div class="resized-text">
      <p>Este juego consiste en averiguar en el menor tiempo posible el nombre de la imágen.</p>
      <p>Conforme pase el tiempo se aclarará la imágen.</p>
      <p>Si se agota el tiempo, pasaras a otra pantalla.</p>
      <p>Cuanto <b>más rápido</b> resuelvas la imagen, <b>mayor puntuación</b> obtendras.</p>
      <p>Para jugar</p>
      <li><b>Pulsa una letra</b> del teclado inferior <b>y en un hueco</b> del superior <b>para mover la letra</b></li>
      <li>Intenta <b>formar la palabra</b> lo mas rápido que puedas</li>
      <p>Así de sencillo</p>
    </div>
    <br>
    <button type="button" (click)="reditectToMenu()" class="btn">Volver</button>
  </div>
  <div class="col-md-2 col-xs-1"></div>
</div>



