<br>
<div class="row">
  <div class="col-md-6 col-xs-1"></div>
  <div class="col-md-5 col-xs-10 speech">
      <p>¡Has conseguido un <b>{{obteinedPoints}} </b> de 100!</p>
  </div>
  <div class="col-xs-1"></div>
</div>

<div class="row">
  <div class="col-md-5 col-sm-4 col-xs-3"></div>
  <div class="col-md-2 col-sm-4 col-xs-6">
      <img src="../../../assets/Pet.gif" alt="">
  </div>
  <div class="col-md-5 col-sm-4 col-xs-3"></div>
</div>
<br>

<div class="container">
  <audio src="../../../assets/aplausos.mp3" autoplay></audio>
</div>

