<div class="container">

<div class="caja">
  <p>¡Has conseguido <b><u>{{obteinedPoints}}</u></b> Puntos!</p>
  <p>Prueba de nuevo. ¡Seguro que mejorarás tu puntuación!</p>
</div>

<div class="container">

  <div class="logo">
        <img src="../../../assets/Pet.png" alt="">
  </div>
</div>


  <div class="row">
    <div class="boton1">
      <button type="button" class="btn btn-block btn-info bttn-jelly" (click)="reditectToMenu()" >Ir al Menú</button>
    <br></div>
  </div>
</div>

<div class="container">
  <audio src="../../../assets/aplausos.mp3" autoplay></audio>
</div>

