
<div class="speech-bubble speech-bubble">
  <p>Bienvenido a Blur</p>
  <p>Para empezar pulse el botón</p>

</div>


<div class="container">
  <div class="row">
      <div class="col-md-3 col-sm-1"></div>
      <div class="col-md-6 col-sm-10">
          <img src="../../../assets/Pet.png" alt="">
      </div>
      <div class="col-md-3 col-sm-1"></div>
  </div>


  <div class="row">
    <div class="col-lg-6 col-md-12">
      <button type="button" class="btn btn-block btn-info" (click)="reditectToArcade()" >Empezar</button>
    <br></div>
    <div class="col-lg-6 col-md-12">
      <button type="button" class="btn btn-block btn-info">Instrucciones</button>
    <br></div>
  </div>
</div>
