
<div class="container">
  <div class="row">
    <div class="titulo">
        <img src="../../../assets/blur.png" alt="">
    </div>
</div>

<div class="caja">
  <p>Bienvenido a Blur!</p>
  <p>Aquí podrás poner a prueba tu ingenio.</p>
</div>

<div class="container">

  <div class="logo">
        <img src="../../../assets/PetGif.gif" alt="">
  </div>
</div>


  <div class="row">
    <div class="boton1">
      <button type="button" class="btn btn-block btn-info bttn-jelly" (click)="reditectToArcade()" >Empezar</button>
    <br></div>
    <div class="boton2">
      <button type="button" class="btn btn-block btn-info bttn-jelly" (click)="reditectToInstruction()">Instrucciones</button>
    <br></div>
  </div>
</div>

<div class="container">
  <audio src="../../../assets/musica.mp3" autoplay></audio>
</div>

