<br>
<div>
  <div class="texto">
      <b>
  <h1>Instrucciones de juego.</h1>
  <h3>Bienvenido al Juego BLUR.</h3>

    <li>Este juego consiste en averiguar en el menor tiempo posible que imagen aparece difuminada.</li>
    <li>Existen tres modos de juego:</li>
    <br>
    <ul>- Arcade: modo normal, puedes saltar imágenes que no conoces.</ul>
    <ul>- Party: tiempo global para averiguar todas las imágenes.</ul>
    <ul>- Survival: si fallas una imagen acabas la partida.</ul>
    <li>Cuanto más tiempo disminuya el contador del tiempo, menor es el difuminado de la imagen.</li>
    <li>Si se agota el tiempo, pasaras a otra pantalla con una imagen nueva, al igual que si la aciertas.</li>
    <li>Cuanto más rápido resuelvas la imagen, mayor puntuación obtendras.</li>  
    <li>El objetivo principal es obtener la mayor puntuación posible siguiendo las reglas anteriores.</li>
    <br>
  </b>
    </div>

    <div class="container">

      <div class="logo">
            <img src="../../../assets/Pet.png" alt="" width="80%" height="80%">
      </div>
    </div>
    
    <a href=".../"> <button type="button" class="btn boton1 btn-block btn-info bttn-jelly">Volver</button></a>
    <br>
</div>